<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.BlogSortMapper">
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.BlogSortDO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="blog_id" jdbcType="INTEGER" property="blog_id" />
        <result column="sort_id" jdbcType="INTEGER" property="sort_id" />
    </resultMap>

    <select id="selectPageBySortId" resultType="io.github.talelin.latticy.model.BlogSortDO">
        SELECT bs.id, bs.blog_id, bs.sort_id
        FROM blog_sort bs
        WHERE bs.sort_id = #{sortId}
        ORDER BY bs.id DESC
    </select>

    <delete id="deleteBatchByBlogIdAndSortId">
        DELETE FROM blog_sort
        WHERE blog_id = #{blogId}
        AND sort_id = #{sortId}
    </delete>
</mapper>
